{
   "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
   "overrides": [
      {
         "files": "*.astro",
         "options": {
            "parser": "astro"
         }
      }
   ],
   "tailwindConfig": "tailwind.config.cjs",
   "printWidth": 120,
   "bracketSameLine": true,
   "singleQuote": true,
   "tabWidth": 3,
   "pluginSearchDirs": false
}
