---
import Layout from '@layouts/MainLayout.astro';
---

<Layout title="Blog">
   <main class="box-border border-4">
      <ul role="list" class="link-card-grid">
         <div class="bold prose prose-2xl">To be available in later version.</div>
      </ul>
   </main>
</Layout>
