---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Blog">
  <div class="box-border border-4">
    <div class="prose bold prose-2xl">To be available in later version.</div>
  </div>
</Layout>
