---
import MainLayout from '@layouts/MainLayout.astro';
import Footer from '@components/NavFoot/Footer.astro';
import Navbar from '@components/NavFoot/Navbar.astro';

import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
const allPosts = await getCollection('blog');
---

<MainLayout title="Blog">
   <Navbar />
   <main class="my-10 flex-1">
      <p class="mb-8 flex justify-center font-carter text-5xl font-bold">Blog Posts</p>
      <ul role="list" class="grid grid-flow-row grid-cols-1 gap-x-10 gap-y-16 px-16 md:grid-cols-2 lg:grid-cols-3">
         {
            allPosts.map((post) => (
               <a
                  class="group card bg-base-200 shadow-xl transition-all duration-200 hover:-translate-y-2 "
                  href={'/blog/' + post.slug}
                  transition:name="BlogCard"
                  transition:animate="initial">
                  <figure>
                     <Image
                        src={post.data.cover}
                        alt={post.data.coverAlt}
                        class="transition-transform duration-700 group-hover:scale-105"
                        transition:name="BlogImage"
                     />
                  </figure>
                  <div class="prose card-body mb-0">
                     <div class="card-title font-bold" transition:name="BlogTitle">
                        {post.data.title}
                     </div>
                  </div>
               </a>
            ))
         }
      </ul>
   </main>
   <Footer transition:persist="footer" />
</MainLayout>
