---
import SolidCountdown from '@components/items/pages/vietnam/SolidCountdown';
import VNGDPSvelte from '@components/items/pages/vietnam/VNGDPSvelte.svelte';
import SideBtns from '@components/NavFoot/SideBtns.astro';
import Footer from '@components/NavFoot/Footer.astro';
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="Project Vietnam">
   <main>
      <div id="content" class="">
         <SideBtns />

         <SolidCountdown client:load />

         <VNGDPSvelte client:load />
      </div>
   </main>
   <Footer transition:persist="footer" />
</MainLayout>
