---
import '@fontsource/carter-one';
import DarkSwitch from './DarkSwitch.jsx';
import BlogLanguageSolid from './BlogLanguageSolid';

const lang = Astro.params.lang;
---

<nav class="navbar rounded-sm p-3 py-5 font-carter">
   <div class="navbar-start">
      <div class="dropdown">
         <label tabindex="0" class="btn btn-circle btn-ghost lg:hidden">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               class="h-5 w-5"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor"
               ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"
               ></path></svg
            >
         </label>
         <ul
            tabindex="0"
            class="menu drawer dropdown-content menu-sm w-40 rounded-box border-t-2 border-gray-400 bg-base-300 align-middle shadow md:hidden">
            <li class="mb-2 border-b-2 border-dotted border-black pb-2 dark:border-white">
               <a class="text-base" href={'/blog/' + lang}>Blog</a>
            </li>
            <li class="mb-2 border-b-4 border-dotted border-black pb-2 dark:border-white">
               <a class="text-base" href="https://github.com/users/CDzungx/projects/2/views/2">Plans</a>
            </li>
            <li class="mb-2 border-b-2 border-double border-black pb-2 dark:border-white">
               <a class="text-base" href="#" target="_blank">About</a>
            </li>
            <div class="inline-block items-center md:hidden">
               <BlogLanguageSolid client:visible />
            </div>
         </ul>
      </div>
      <a
         href="/"
         class="mainTitle prose-bold btn btn-ghost whitespace-normal text-center text-xl md:text-2xl lg:text-3xl"
         >Prozekt Resovel</a
      >
   </div>
   <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-2 text-lg">
         <li><a href={'/blog/' + lang}>Blog</a></li>
         <li class="px-6"><a href="https://github.com/users/CDzungx/projects/2/views/3">Roadmap</a></li>
         <li><a href="#" target="_blank">About</a></li>
      </ul>
   </div>

   <div class="navbar-end">
      <div class="hidden md:block">
         <BlogLanguageSolid client:visible />
      </div>
      <div class="divider divider-horizontal hidden md:flex lg:flex"></div>
      <div class="btn btn-ghost mr-1 px-1 md:mr-3">
         <DarkSwitch client:only="solid-js" />
      </div>
   </div>
</nav>
