---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import { version } from '../../../package.json';
const link = `https://github.com/CDzungx/Prozekt-Resovel/wiki/v${version}`;
import { LicenseTranslate } from '@components/NavFoot/AstroTranslate';
import SvelteDebug from '@components/NavFoot/SvelteDebug.svelte';
---

<footer
   class="footer static bottom-0 flex-shrink-0 items-center gap-0 bg-base-300 p-3 px-5 font-trebuchet text-base-content md:p-4 md:px-6">
   <div class="grid-flow-col items-center gap-2 whitespace-normal py-0 md:whitespace-nowrap lg:gap-4">
      <span class="prose">
         <span
            ><a href={link}><label class="badge indicator-item badge-secondary cursor-pointer">v{version}</label></a>
             2023
         </span><span class="hidden font-medium lg:inline-block">© CDzungx&nbsp;</span>|
         <a
            class="font-semibold"
            property="dct:title"
            rel="cc:attributionURL"
            href="https://github.com/CDzungx/Prozekt-Resovel">Prozekt Resovel</a
         ><LicenseTranslate client:only="solid-js" />
         <span class="inline-block font-semibold">CC BY-NC 4.0</span></span
      >
      <a
         href="http://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1"
         target="_blank"
         rel="license noopener noreferrer">
         <figure class="flex">
            <Image
               src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"
               format="svg"
               alt="CC"
               width={20}
               height={20}
            />
            <Image
               src="https://mirrors.creativecommons.org/presskit/icons/by.svg"
               format="svg"
               alt="BY"
               width={20}
               height={20}
            />
            <Image
               src="https://mirrors.creativecommons.org/presskit/icons/nc.svg"
               format="svg"
               alt="NC"
               width={20}
               height={20}
            />
         </figure>
      </a>
   </div>
   <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <div class="hidden md:flex lg:flex">
         <button onclick="debugModal.showModal();" id="modalButton" class="tooltip" data-tip="Debug" aria-label="Debug">
            <div class="box-border">
               <Icon name="ph:code-fill" class="h-8 w-8" />
            </div></button
         >
         <SvelteDebug client:visible />
         <div class="divider divider-horizontal mx-0"></div>
         <a href="/privacypolicy" class="tooltip" data-tip="Privacy Policy" target="_blank" aria-label="Privacy Policy">
            <div class="box-border">
               <Icon name="ic:baseline-privacy-tip" class="h-8 w-8" />
            </div>
         </a>
         <div class="divider divider-horizontal mx-0"></div>
         <a href="/github" class="tooltip" data-tip="Github" target="_blank" aria-label="Github">
            <div class="box-border">
               <Icon name="mdi:github" class="h-8 w-8" />
            </div>
         </a>
         <div class="divider divider-horizontal mx-0"></div>
         <a href="/discord" class="tooltip" data-tip="Discord" target="_blank" aria-label="Discord">
            <div class="box-border">
               <Icon name="ic:outline-discord" class="h-8 w-8" />
            </div>
         </a>
      </div>
   </div>
</footer>
