---
import DarkSwitch from "./DarkSwitch.jsx"
export interface Props {}

const {} = Astro.props;
---

<div class="navbar rounded-lg p-3 pt-3 p-6 my-3">

  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path></svg
        >
      </label>
      <ul
        tabindex="0"
        class="menu drawer menu-sm dropdown-content mt-3 p-2 shadow bg-base-300 rounded-box w-52"
      >
        <li><a class="py-2" href="https://thongnhat.tech/" target="_blank">Countdown</a></li>
        <li><a class="py-2" href="/blog">Blog</a></li>
        <li><a class="py-2" href="https://github.com/users/CDzungx/projects/2/views/2">Plans</a></li>
      </ul>
    </div>
    <a href="/" class="mainTitle btn btn-ghost lg:prose-2xl md:prose-2xl prose-bold"
      >Prozekt Asolind</a
    >
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-2 text-lg">
      <li><a href="https://thongnhat.tech/" target="_blank">Countdown</a></li>
      <li class="px-6"><a href="/blog">Blog</a></li>
      <li><a href="https://github.com/users/CDzungx/projects/2/views/2">Plans</a></li>
    </ul>
  </div>

  <div class="navbar-end">
    <div class="langSel hidden md:flex ">
      <select class="select select-bordered select-md sm:select-sm">
        <option>English</option>
        <option class="VNFont">Tiếng Việt</option>
      </select>
    </div>
    <div class="divider divider-horizontal"></div>
    <DarkSwitch client:load />
  </div>

</div>

<style>
  .VNFont{
    font-family: 'Baloo 2', cursive;
    font-weight: bolder;
  }
</style>