---
export interface Props {
  href: string;
  text?: string;
  icon?: string;
}

const { href, text, icon } = Astro.props;
---
<a href={href} target="_blank">
<button class="btn shadow-sm" >{icon && <span class={icon}></span>}{icon && ' '}{text && text}</button>
</a>