---
export interface Props {
  href: string;
  text?: string;
  icon?: string;
}

const { href, text, icon } = Astro.props;
---
<a href={href} target="_blank">
<button class="btn bg-base-300 shadow-sm" >{<slot/> && <slot/>}{<slot/> && ' '}{text && text}</button>
</a>