---
export interface Props {
  href: string;
  text: string;
  icon: string;
}

const { href, text, icon} = Astro.props;
---

<button class="btn" href={href} target="_blank">{icon && <span class={icon}></span>}{icon && ' '}{text}</button>