---
import Navbar from "../components/NavFoot/Navbar.astro";
import Footer from "../components/NavFoot/Footer.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="A project with Astro, SolidJS, TailwindCSS" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 
    <meta http-equiv="Content-Security-Policy" content="connect-src 'self' https://vitals.vercel-insights.com;" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      document.documentElement.setAttribute(
        "data-theme",
        localStorage.getItem("data-theme")
      );
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
  </head>
  <body class="flex flex-col h-screen mb-auto">
    <Navbar />
    <slot />
    <Footer />
  </body>
  <style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Carter+One&display=swap");
    html {
      font-family: system-ui, sans-serif;
      transition-duration: 0.2s;
    }
    body code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
    .navbar {
      font-family: "Carter One", cursive;
    }
    .mainTitle {
      font-weight: 900;
    }
    .drawer {
      z-index: 99999;
    }
    .prose {
      transition-duration: 2s;
    }
  </style>

</html>
