---
import { ViewTransitions } from 'astro:transitions';
import SmoothScroll from '@components/items/misc/SmoothScrollSolid';
const { title } = Astro.props;
import thumbnail from '@assets/img/thumbnail.png';
---

<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="description" content="A project made of Astro, SolidJS, Svelte, React, TailwindCSS" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta property="og:url" content="https://prozekt-resovel.vercel.app" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="Prozekt Resovel" />
      <meta property="og:description" content="A small website made of Astro, SolidJS, Svelte, React, TailwindCSS" />
      <meta property="og:image" content={thumbnail.src} />
      <meta property="og:image:type" content="image/png" />
      <meta name="twitter:card" content="summary_large_image" />
      <link rel="icon" type="x-icon" href="/favicon.ico" />
      <link rel="sitemap" href="/sitemap-index.xml" />
      <meta name="view-transition" content="same-origin" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
      <ViewTransitions />
      <script is:inline>
         document.documentElement.setAttribute('data-theme', localStorage.getItem('data-theme'));
      </script>
      <script>
         import { themeChange } from 'theme-change';
         themeChange();
      </script>
   </head>
   <body class="bg mb-auto flex min-h-[100dvh] flex-col">
      <slot />
      <style type="text/css" is:global>
         html {
            transition-duration: 200ms;
         }
         .drawer {
            z-index: 99999;
         }
      </style>

      <style is:global>
         html.lenis {
            height: auto;
         }

         .lenis.lenis-smooth {
            scroll-behavior: auto;
         }

         .lenis.lenis-smooth [data-lenis-prevent] {
            overscroll-behavior: contain;
         }

         .lenis.lenis-stopped {
            overflow: hidden;
         }

         .lenis.lenis-scrolling iframe {
            pointer-events: none;
         }
      </style>
      <SmoothScroll client:load />
   </body>
</html>
