---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="description" content="A project made of Astro, SolidJS, Svelte, React, TailwindCSS" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta property="og:image" content="/favicon.svg" />
      <meta property="og:title" content="Prozekt Resovel" />
      <meta property="og:description" content="A project made of Astro, SolidJS, Svelte, React, TailwindCSS" />
      <link rel="icon" type="x-icon" href="/favicon.ico" />
      <meta name="view-transition" content="same-origin" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
      <script is:inline>
         document.documentElement.setAttribute('data-theme', localStorage.getItem('data-theme'));
      </script>
      <script>
         import { themeChange } from 'theme-change';
         themeChange();
      </script>
   </head>
   <body class="bg mb-auto flex h-[100dvh] flex-col">
      <slot />
      <style type="text/css" is:global>
         html {
            transition-duration: 200ms;
         }
         .drawer {
            z-index: 99999;
         }
         .prose {
            transition-duration: 0.5s;
         }
      </style>
   </body>
</html>
