---
import MainLayout from '@layouts/MainLayout.astro';
import Footer from '@components/NavFoot/Footer.astro';
import AdvNavBar from '@components/NavFoot/AdvNavBar.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
export async function getStaticPaths() {
   const pages = await getCollection('blog');

   const paths = pages.map((page) => {
      const [lang, ...slug] = page.slug.split('/');
      return { params: { lang } };
   });

   return paths;
}

const { lang } = Astro.params;

const allPosts = await getCollection('blog', ({ data }) => data.language === lang);
---

<MainLayout title="Blog">
   <AdvNavBar />
   <main class="my-10 flex-1">
      <p class="mb-8 flex justify-center font-carter text-5xl font-bold">Blog Posts</p>
      <ul role="list" class="grid grid-flow-row grid-cols-1 gap-x-10 gap-y-16 px-16 md:grid-cols-2 lg:grid-cols-3">
         {
            allPosts.map((post) => (
               <a
                  class="group card rounded-xl bg-base-200 shadow-xl transition-all duration-200 hover:-translate-y-2 "
                  href={'/blog/' + post.slug}
                  transition:name="BlogCard"
                  transition:animate="initial">
                  <figure>
                     <Image
                        src={post.data.cover}
                        alt={post.data.coverAlt}
                        class="transition-transform delay-100 duration-1000 group-hover:scale-105"
                        transition:name="BlogImage"
                     />
                  </figure>
                  <div class="prose card-body mb-0 dark:text-white">
                     <div class="card-title font-bold" transition:name="BlogTitle">
                        {post.data.title}
                     </div>
                  </div>
               </a>
            ))
         }
      </ul>
   </main>
   <Footer transition:persist="footer" />
</MainLayout>
